<h1>New Order</h1>
<center> <table border= 4 length= 50% width = 50%> 
<th> Artist </th> <th> Album </th> <th> Released </th> <th> Price </th>
 <% @music_list.each do |m| %>

  <tr> <td> <%= m.Artist %> </td> <td> <%= m.Album %> </td> <td><%= m.Released %></td> <td> $<%= number_with_precision(m.Price, :precision => 2)%> </td></tr>
    <% end %>
</table></center>

<%= render 'form' %>

<%= link_to 'Back', orders_path %>
