<p id="notice"><%= notice %></p>

<h1>Listing Music</h1>

<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Album</th>
      <th>Released</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @musics.each do |music| %>
      <tr>
        <td><%= music.Artist %></td>
        <td><%= music.Album %></td>
        <td><%= music.Released %></td>
        <td><%= music.Price %></td>
        <td><%= link_to 'Show', music %></td>
        <td><%= link_to 'Edit', edit_music_path(music) %></td>
        <td><%= link_to 'Destroy', music, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Music', new_music_path %>

<h3> Toy List </h3> <a href="http://localhost:3000/index/home"> Click Here </h3>
